.container-text {
  border-radius: 32px;
  background-color: #e0e0e0;
  margin: 48px;
  line-height: 1.6;
  height: 100%;
}
.text-padding {
  padding: 0 48px 48px 48px;
}
.container-text p {
  color: rgb(119, 125, 135);
}
